<!-- about section -->

<div class="d-flex flex-wrap justify-content-evenly bg-dark text-light">
    <div class="ps-5 pe-5 pb-5">
      <div class="d-flex justify-content-center">
        <img class="mx-5 pb-3" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf" alt="No Minimum Order">
      </div>
      <h4 class="text-center">No Minimum Order</h4>
      <h6 class="text-center">Order in for yourself or for the group, with no restrictions on order value</h6>
    </div>
    <div class="ps-5 pe-5 pb-5">
      <div class="d-flex justify-content-center">
        <img class="mx-5 pb-3" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy" alt="Live Order Tracking">
      </div>
      <h4 class="text-center">Live Order Tracking</h4>
      <h6 class="text-center">Know where your order is at all times, from the restaurant to your doorstep</h6>
    </div>
    <div class="ps-5 pb-5">
      <div class="d-flex justify-content-center">
        <img class="mx-5 pb-5" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn" alt="Lightning-Fast Delivery">
      </div>
      <h4 class="text-center">Lightning-Fast Delivery</h4>
      <h6 class="text-center">Experience Swiggy's superfast delivery for food delivered fresh & on time</h6>
    </div>
  </div>
  
  <!-- Banner Section -->
  <div class="row pt-5 ps-5">
    <div class="col-md-4 banner d-flex flex-column justify-content-center">
      <h2 class="rip">Restaurants in your pocket</h2>
      <h4 class="text-muted">Order from your favorite restaurants & track on the go, with the all-new Swiggy app.</h4>
  
      <div class="d-flex flex-wrap justify-content-start">
        <a class="pe-5" href="https://play.google.com/store/apps/details?id=in.swiggy.android">
          <img width="200px" height="50px" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/play_ip0jfp" alt="Google Play">
        </a>
  
        <a href="https://apps.apple.com/in/app/swiggy-food-grocery-delivery/id989540920">
          <img width="200px" height="50px" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/iOS_ajgrty" alt="App Store">
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex justify-content-between">
        <img class="w-50 phn-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_768,h_978/pixel_wbdy4n" alt="Phone Image">
        <img class="w-50 phn-img" src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_768,h_978/iPhone_wgconp_j0d1fn" alt="Phone Image">
      </div>
    </div>
  </div>
  
  <!-- Footer Section -->
  <section class="footer-wrapper bg-dark text-white pt-5">
    <div class="container top">
      <div class="row">
        <div class="col-md-3">
          <div class="title">Company</div>
          <p>About us</p>
          <p>Team</p>
          <p>Career</p>
          <p>Swiggy Blog</p>
          <p>Bug Bounty</p>
          <p>Swiggy One</p>
          <p>Swiggy Corporate</p>
          <p>Swiggy Instamart</p>
          <p>Swiggy Genie</p>
        </div>
        <div class="col-md-3">
          <div class="title">Contact</div>
          <p>Help & Support</p>
          <p>Partner with us</p>
          <p>Ride with us</p>
        </div>
        <div class="col-md-3">
          <div class="title">Legal</div>
          <p>Terms & Conditions</p>
          <p>Refund & Cancellation</p>
          <p>Privacy Policy</p>
          <p>Cookie Policy</p>
          <p>Offer Terms</p>
          <p>Phishing & Fraud</p>
          <p>Corporate – Swiggy Money Codes Terms and Conditions</p>
          <p>Corporate - Swiggy Discount Voucher Terms and Conditions</p>
        </div>
        <div class="col-md-3">
          <a href="#">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-AppStore_lg30tv" alt="App Store">
          </a>
          <a href="#">
            <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_200,h_65/icon-GooglePlay_1_zixjxl" alt="Play Store">
          </a>
        </div>
      </div>
    </div>
  
    <div class="footer text-center py-4">
      <a href="#">
        <img src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_284/Logo_f5xzza" alt="Swiggy Logo">
      </a>
     
     <div class="socials">
        <a href="https://twitter.com" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
        <a href="https://instagram.com" target="_blank">Instagram</a>
        <a href="https://github.com" target="_blank">GitHub</a>
      </div>
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
